body {
    /* background: url(Images/trivmaster.jpg); */
    color: white;
    display: flex;
}
header {
    background-color: #E89769;
    text-align: center;
    padding: 0 10px;
    font-family: "Forum", cursive;
}
main {
    /* padding: 0 10px 20px 10px; */
    display: flex;
}
/* using reference to the ATM lab to build a box to hold the user's score */
.score {
    background-color: #E051FF;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 20px;
}
section {
    padding: 0 10px;
    font-family: "Forum", serif;
}
.column2 {
    background-color: #3C54FF;
}
.column1 {
   background-color: #71E8AB;
   padding-bottom: 20px;
}
img {
    width: 40vw;
    height: 50vh;
    transform: rotate(90deg);
    border-radius: 15px;
    border: 2px solid white;
}
.aboveimg {
    padding-bottom: 85px;
}
