body {
    /* background: url(Images/trivmaster.jpg); */
    color: white;
    display: flex;
    justify-content: flex-start;
}
header {
    background-color: #E89769;
    text-align: center;
    padding: 30px 40px;
    font-family: "Forum", cursive;
}
main {
    /* padding: 0 10px 20px 10px; */
    display: flex;
}
/* using reference to the ATM lab to build a box to hold the user's score */
.score {
    background-color: #E051FF;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 20px;
    border: 2px solid white;
}
section {
    padding: 0 10px;
    font-family: "Forum", serif;
}
.column2 {
    background-color: #3C54FF;
}
.column1 {
   background-color: #71E8AB;
   padding-bottom: 20px;
}
img {
    width: 40vw;
    height: 40vh;
    transform: rotate(90deg);
    border-radius: 15px;
    overflow: auto;
}
.aboveimg {
    white-space: pre-wrap;
    padding-bottom: 85px;
    margin-bottom: 30px;
}

.container {
    display: block;
    overflow: auto;
}

/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }
    img {
        border-radius: 10px;
        border-color: 2px solid white;
        width: 60vw;
    }
    header {
        height: 900px;
    }
}

@media (max-width: 750px) {
    body {
        display: flex;
        flex-direction: column;
    }
    img {
        border-radius: 10px;
        border-color: 2px solid white;
        /* width: 50vw; */
    }
    header {
        height: 850px;
    }
}

@media (min-width: 1100px) {
    .aboveimg {
        padding-bottom: 150px;
    }
}
    
}


